.logoContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

form.loginInputForm {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 20px;
}

.loginButtonSection,
.socialLoginButtonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  margin-top: 60px;
}

.googleButton button {
  color: black;
  height: 50px;
  width: 325px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebookButton button {
  background-color: #1877f2;
  color: white;
  height: 50px;
  width: 325px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}

img.facebookLogoImage,
img.googleLogoImage {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

img.facebookLogoImage {
  position: absolute;
  transform: translateX(-132px);
}

img.googleLogoImage {
  position: absolute;
  transform: translateX(-118px);
}
