.quantityButtonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff6347;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 100px;
}

.Btns {
  border-style: none;
  background-color: #ff6347;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.minus {
  padding-bottom: 4px;
}
