.myOrderItemContainer {
  display: grid;
  gap: 15px;
  border: 1px solid rgba(100, 100, 100, 0.329);
  border-radius: 5px;
  padding: 10px 15px 15px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.myOrderItemTop {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.myOrderStatus {
  display: flex;
  align-items: center;
  gap: 15px;
}

.myOrderDate {
  color: rgb(199, 199, 199);
}

.orderSuccess {
  color: #327c1f;
}

.orderFailed {
  color: #ff6347;
}

.orderLoading {
  color: #ffa448;
}

.viewOrderBtn {
  border: none;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  color: rgba(43, 43, 43, 0.836);
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.viewOrderBtn:active {
  background-color: rgb(210, 210, 210);
}

.myOrderItemMainContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.myOrderItemLogoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.myOrderInfoSection {
  display: grid;
  gap: 5px;
}

.MIresName {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
