.signup-title {
  font-size: 2rem;
}

.signup-container {
  margin: 10px;
}
.term-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.term-container > label {
  margin-bottom: 10px;
}

.term-container > label > span {
  color: red;
}

.signup-btn {
  text-align: center;
}
