.birthInputContainer {
  display: grid;
  gap: 10px;
}

.hideSpan {
  display: none;
}

.birthInputContainer > label > span {
  color: red;
}

.eventExplain {
  margin: 0px;
  font-size: 11px;
  color: #92a0a9;
}

.birthInputForm {
  display: flex;
  justify-content: space-around;
}

.birthInput {
  height: 5vh;
  width: 30%;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  text-align: center;
}

.birthInput:focus {
  background-color: #f1f1f1;
}

.birthErrorMessage {
  font-size: 1rem;
  color: red;
}
