.dropdownContainer {
  position: relative;
  height: 25px;
}

.dropdownTitle {
  display: flex;
  position: absolute;
  right: 10px;
  gap: 5px;
  color: rgb(155, 155, 155);
  line-height: 1.3rem;
}

.dropBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 30px;
  height: 22px;
  border: none;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}

.dropBtn:active {
  background-color: rgb(211, 211, 211);
}

.dropIcon {
  width: 20px;
  height: 20px;
  color: black;
}

.dropdownContent {
  display: none;
  border: 1px solid black;
  max-width: 80%;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 1000;
  background-color: white;
  padding: 20px;
  word-wrap: break-word;
}

.open {
  display: block;
}
