.orderSheetContainer {
  display: grid;
  gap: 20px;
  padding: 10px;
}

.orderSection {
  display: grid;
  margin-top: 10px;
  gap: 15px;
}

.addMoreBtn {
  font-size: 1.2rem;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  color: black;
}

.OSsection {
  display: grid;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.329);
}

.deliveryDetailsTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.ordersheetSubmitBtn {
  display: flex;
  justify-content: center;
}
