.signupTitle {
  font-size: 2rem;
  margin-top: 0px;
}

.signupContainer {
  margin: 10px 10px 10px 10px;
}

.signupContainer > form {
  display: grid;
  gap: 10px;
}

.signupBtn {
  text-align: center;
}
