.mapModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.mapModalContent {
  background-color: white;
  padding: 10px;
  border-radius: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
  max-width: 400px;
  height: 600px;
}

.closeModalSection {
  width: 20px;
  height: 22.5px;
  position: absolute;
  top: 2.5px;
  right: 1%;
  cursor: pointer;
}

button.closeModalButton {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 20px;
  padding: 0px;
}

.boundsDescriptionSection {
  text-align: center;
  font-size: 18px;
}

.boundsDescription {
  font-weight: 600;
  font-size: 15px;
}

.greenArea {
  color: #00ff00;
}

.redArea {
  color: #ff0000;
}

.googleMap {
  width: 100%;
  height: 80%;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  row-gap: 20px;
  font-size: 25px;
}

button.selectAddressButton {
  background-color: #ff6347;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* 구글 지도 안에 있는 기본적인 버튼들 */
button.gm-control-active.gm-fullscreen-control img {
  position: absolute;
  left: 78%;
  top: 30%;
}

div.gmnoprint img {
  position: absolute;
  top: 30%;
  left: 78%;
}
