.currentPasswordSection {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.changePasswordSection input {
  width: 145px;
  height: 30px;
}

.currentPasswordSection {
  display: flex;
  column-gap: 10px;
}

.changePasswordText {
  color: red;
  font-size: 12px;
}

.verifyButtonSection {
  position: relative;
  top: 31px;
}
