.input-container {
  display: flex;
  flex-direction: column;
}
.input-container > label {
  margin-bottom: 10px;
}

.input-container > label > span {
  color: red;
}
.input-container input {
  height: 5vh;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  margin-bottom: 10px;
  padding-left: 10px;
}
