.statusContentContainer {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.statusText {
  text-align: center;
  margin: 0 13px 0 13px;
}

.statusText img {
  width: 95px;
  height: 81px;
}

.statusText h1 {
  margin: 0;
}

.statusText span {
  margin-top: 20px;
  font-size: 20px;
}

.errorMessage {
  text-decoration: underline;
  color: red;
  font-weight: 600;
}

.statusBottomSection button {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
