.loginMainContainer {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.loginInputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.loginButtonSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.googleButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 50px;
  width: 325px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 30px;
}
