.orderSheetContainer {
  display: grid;
  gap: 20px;
  padding: 10px;
}

.orderSection {
  display: grid;
  margin-top: 10px;
  gap: 15px;
}

.OSsection {
  display: grid;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.329);
}
