.restaurantCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurantCategoryTitle {
  font-size: 1.8rem;
  margin: 0px;
}

.restaurantItem {
  width: fit-content !important;
}
