@font-face {
  font-family: "SourceSans3-Medium";
  font-weight: normal;
  src: url("./font/SourceSans3-Medium.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "SourceSans3-Medium";
}
