@font-face {
  font-family: "SourceSans3-Medium";
  font-weight: normal;
  src:
    url("/src/font/SourceSans3-Medium.ttf") format("truetype"),
    url("/src/font/SourceSans3-Medium.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "SourceSans3-Medium";
}
