@font-face {
  font-family: "SourceSans3-Medium";
  font-weight: normal;
  src: url("https://okivery.duckdns.org/assets/SourceSans3-Medium-C08bbBQA.woff2")
    format("woff2");
  font-display: swap;
}

body {
  font-family: "SourceSans3-Medium";
}
