.paySwiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
}

.payButtonBox {
  width: 100%;
  max-width: 320px;
  padding: 10px;
}

.payButtonBox button {
  width: fit-content !important;
  padding: 10px;
  white-space: nowrap;
}
