.paymentMainContainer {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paymentSubContainer {
  margin-top: 50px;
}

.cardContainer {
  margin: 200px 0 200px 0;
}

.totalAccount {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
}

.payNowButtonSection {
  display: flex;
  justify-content: center;
}

.payNowButtonSection button {
  height: 55px;
  font-size: 28px;
  font-weight: bold;
}
