.paymentMainContainer {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paymentSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.bottomSection {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.totalAccount {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.payNowButtonSection {
  display: flex;
  justify-content: center;
}

.payNowButtonSection button {
  height: 55px;
  font-size: 28px;
  font-weight: bold;
}
